body
{
   background: #162741;
}

#logo
{
  max-width: 100%;
  margin: auto;
  display: block;
  margin-top: 30px;
}

#title
{
  text-align: center;
}

#equipe2
{
  text-align: right;
}

.container
{
  max-width: 720px;
}


.title
{
  color: white;
  width: 100%;
}
