doctype html

html(ng-app="LaserPong")
  head
    title Pong | Inauguration du Shadok
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet', media='all')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet', media='all')
    link(href='//cdn-images.mailchimp.com/embedcode/classic-081711.css', rel='stylesheet')
    link(href='styles.css', rel='stylesheet', media='all')
  body
    ui-view

script(src='lib/angular/angular.js')
script(src='lib/angular-ui-router/release/angular-ui-router.js')
script(src='lib/angular-facebook/lib/angular-facebook.js')
script(src='lib/angular-mailchimp/angular-mailchimp.js')
script(src='lib/angular-resource/angular-resource.js')
script(src='lib/angular-sanitize/angular-sanitize.js')
script(src='lib/ng-websocket/ng-websocket.js')

script(type="text/javascript")
  != "window.FACEBOOK_APP_ID = " + (process.env.FACEBOOK_APP_ID || '893554934040564')
script(src='app.js')
