.container
    .row
        .col-md-12
            .divider
            .score.pull-left#left Gauche: {{gameStatus.left.score}}
            .score.pull-right#right Droite: {{gameStatus.right.score}}
            .clearfix
            .col-md-6.text-left {{gameStatus.left.players}} joueur
                span(ng-if="gameStatus.left.players > 1") s
            .col-md-6.text-right {{gameStatus.right.players}} joueurs
                span(ng-if="gameStatus.left.players > 1") s
            .divider
            .divider
            .text-center 
                p Vous jouez à {{user.role=='left'?'gauche':'droite'}}
            button.btn.up(ng-click="sendInput('up')" class="{{user.role}}" ontouchstart="") ↑
            button.btn.down(ng-click="sendInput('down')" class="{{user.role}}"  ontouchstart="") ↓
            
