.container
    .row
        .col-md-12
            .divider
            .score.pull-left#left G: {{leftScore}}
            .score.pull-right#right D: {{rightScore}}
            .clearfix
            .divider
            .divider
            .text-center 
                p Vous jouez à {{user.role=='left'?'gauche':'droite'}}
            button.btn.up(data-role="button" type="button" ng-click="sendInput('up')" class="{{user.role}}") ↑
            button.btn.down(data-role="button" type="button" ng-click="sendInput('down')" class="{{user.role}}") ↓
            
