.container
    .row
        .col-md-12
            span Vous jouez à {{user.role=='left'?'gauche':'droite'}}
            button.up(ng-click="sendInput('up')") ↑
            button.down(ng-click="sendInput('down')") ↓
            .score#left Gauche: {{leftScore}}
            .score#right Droite: {{rightScore}}