html(ng-app="LaserPong")
    head
        title LaserPong - AlsaceDigital
    body
        div Hello

script(src='lib/angular/angular.js')
script(src='lib/angular-route/angular-route.js')
script(src='app.js')