html(ng-app="LaserPong")
    head
        title Pong | Inauguration du Shadok
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet', media='all')
        link(href='styles.css', rel='stylesheet', media='all')
    body
        ui-view

script(src='lib/angular/angular.js')
script(src='lib/angular-ui-router/release/angular-ui-router.js')
script(src='lib/angular-facebook/lib/angular-facebook.js')
script(src='app.js')