.container
    .row
        img#logo(src='logo_alsace_digitale.png', alt='Logo Alsace Digitale')
    .row
        h1#title.title Tableau des scores
    .row
        .col-md-6
            h2.title.text-center Equipe Bleu
            h3.score {{gameStatus.left.score}}
        .col-md-6
            h2.title.text-center Equipe Rouge
            h3.score {{gameStatus.right.score}}

    .row.row-centered
        .panel.panel-success.col-md-4
            .panel-heading
                h2.text-center Bienveillant
            .panel-body
                p Joueur ayant le plus aidé leur équipe
            ul.list-group
                li.list-group-item(ng-repeat="user in goodUsers")
                    | {{user.name}}
                    span.badge {{$index}}
        #canvas-holder.col-centered.col-md-2
            canvas#doughnut.chart.chart-doughnut(data="doughnutData" labels="doughnutLabels" colours="doughnutColours" width='500', height='500')
        .panel.panel-danger.col-md-4
            .panel-heading
                h2.text-center Anarchiste
            .panel-body
                p Joueur ayant fait perdre leur équipe
            ul.list-group
                li.list-group-item(ng-repeat="user in badUsers")
                    | {{user.name}}