
<div class="container">
  <div class="row">
    <div class="col-md-12"><img id="logo" src="logo_alsace_digitale.png" alt="Logo Alsace Digitale"/>
      <h1 class="title text-center">Choix de l'équipe</h1>
      <div class="select">
        <button ng-click="select('left')" class="red-team">Équipe gauche</button><span class="vs">VS</span>
        <button ng-click="select('right')" class="blue-team">Équipe droite</button>
      </div>
      <div>Connecté en tant que {{user.name}}<a ng-click="disconnect()" href="javascript:">Deconnexion</a></div>
    </div>
  </div>
</div>