.container
    .row
        .col-md-12
            img#logo(src='logo_alsace_digitale.png', alt='Logo Alsace Digitale')
            h1.title.text-center Choix de l'équipe

            div.select
                button.red-team(ng-click="select('left')") Équipe gauche
                span.vs VS
                button.blue-team(ng-click="select('right')") Équipe droite
            div
                | Connecté en tant que {{user.name}} -
                a(ng-click="disconnect()" href="javascript:") Deconnexion
