.container
    .row
        .col-md-12
            img#logo(src='logo_alsace_digitale.png', alt='Logo Alsace Digitale')
            .divider
            .row
                .col-xs-6.vline-right.vcenter
                    p
                    strong Inauguration du Shadok
                    p 10 et 11 avril 2015
                    p
                        a(href="http://www.shadok.strasbourg.eu/" target="_blank")  Visiter le site du Shadok
                .col-xs-6.vcenter
                    img(src="logo_shadok.png" alt="Logo Shadok")
            .divider
            .row
                .col-xs-4.vcenter
                    img(src="logo_hacksxb.png" alt="logo HackSXB")
                .col-xs-8.vcenter.text-center
                    h2 vous propose une expérience inédite
            .divider
            h1.title.text-center Prêts à jouer ?

            div(ng-switch="logged")
                img.facebook-connect(ng-switch-when="false" src="facebook-connect.png" ng-click="FB.login()")
                div(ng-switch-when="true")
                    | connecté en tant que {{user.name}}
                    a.logout(ng-click="FB.logout()" href="javascript:") Déconnexion
            div(ng-hide="logged")
                a.pseudo-toggle(ng-click="pseudoToggle=!pseudoToggle") Ou avec un pseudo
            .col-xs-6.col-sm-4.pseudo-form(ng-show="pseudoToggle")
                .input-group
                    input.form-control(type='text', placeholder='Pseudo' ng-model="pseudo")
            span(ng-show="!!user || pseudo && pseudoToggle")
                button.btn.btn-default(type='button' ng-click="connect(user?user:pseudo)") Jouer !
