.container
    .row
        .col-md-12
            img#logo(src='logo_alsace_digitale.png', alt='Logo Alsace Digitale')
            .divider
            .row
                .col-xs-6.vline-right.vcenter
                    p
                    strong Inauguration du Shadok
                    p 10 et 11 avril 2015
                    p
                        a(href="http://www.shadok.strasbourg.eu/" target="_blank")  Visiter le site du Shadok
                .col-xs-6.vcenter
                    img(src="logo_shadok.png" alt="Logo Shadok")
            .divider
            .row
                .col-xs-4.vcenter
                    img(src="logo_hacksxb.png" alt="logo HackSXB")
                .col-xs-8.vcenter.text-center
                    h2 vous propose une expérience inédite
            .divider
            div(ng-hide="here")
                h1.title.text-center Rendez-vous devant le Shadok !
                .half-divider
                button.btn.btn-default.fullwidth(ng-hide="map" ng-click="displayMap()") C'est où ?
                .half-divider
                iframe#embedded_map(ng-show="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2639.872904332812!2d7.763945000000001!3d48.573983000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796c903e433caef%3A0xdb2bffb320adce2e!2sLe+Shadok%2C+fabrique+du+num%C3%A9rique!5e0!3m2!1sen!2s!4v1427920609515&z=12&ll=48.573983,7.763934" width="100%" height="450" frameborder="0" style="border:0")
                button.btn.btn-primary.btn-lg.fullwidth(ng-click="imHere()")  J'y suis !
            div(ng-show="here")
                h1.title.text-center Prêts à jouer ?
                div(ng-switch="logged")
                    a.btn.btn-lg.btn-block.btn-social.btn-facebook.facebook-connect(ng-switch-when="false" ng-click="FB.login()")
                        i.fa.fa-facebook
                        | Continuer avec Facebook
                    div(ng-switch-when="true")
                        | connecté en tant que {{user.name}}
                        a.logout(ng-click="FB.logout()" href="javascript:") Déconnexion
                div(ng-hide="logged")
                    a.pseudo-toggle(ng-click="pseudoToggle=!pseudoToggle" ng-hide="pseudoToggle") Ou avec un pseudo
                .pseudo-form.fullwidth(ng-show="pseudoToggle")
                    input.form-control(type='text', placeholder='Pseudo' ng-model="pseudo")
                span(ng-show="logged || pseudo && pseudoToggle")
                    button.btn.btn-default.form-control(type='button' ng-click="connect(user?user:pseudo)") Jouer !
