button(data-ng-click='IntentLogin()') Login
button(data-ng-click='logout()') Logout

span Name: {{user.first_name}} {{user.last_name}}
.container
    .row
        .col-md-12
            img#logo(src='logo_alsace_digitale.png', alt='Logo Alsace Digitale')
            h1.title.text-center Prêts à jouer ?