body { background: #162741; }
.container { max-width: 720px; }
#logo { max-width: 100%;  margin: auto; display: block; margin-top: 30px; }
.title { color: white; width: 100%; }
#form-subscribe label { color: #eee; }
#form-subscribe  input[type=submit] { margin-top: 5px; }
