body { background: #162741; color: #fff; font-size: 18px; }
.container { max-width: 720px; margin-bottom: 30px;}
#logo { max-width: 100%;  margin: auto; display: block; margin-top: 30px; }
.title { color: white; width: 100%; }
#form-subscribe label { color: #eee; }
#form-subscribe  input[type=submit] { margin-top: 5px; }
img { max-width: 100%; }
.divider { margin-top: 25px; }
.half-divider { margin-top: 10px; }
.vline-right { border-right: 1px solid #eee; }
.vcenter { display: inline-block; vertical-align: middle; float: none; }
.fullwidth { width: 100%; }
.center {
    float: none;
    display: block;
    margin: 0 auto;
}
/*  START  */
img.facebook-connect {
    display: block;
    margin: 20px auto;
    width: 41%;
    max-width: 200px;
    cursor: pointer;
}
a.pseudo-toggle {
    text-align: center;
    display: block;
    cursor: pointer;
}
div.pseudo-form {
    margin: 10px auto;
    float: none;
}

/* SELECT */
.select {
    text-align: center;
    margin: 30px 0 0 0;
}
button.red-team {
    border: none;
    background: #E42020;
    width: 110px;
    height: 35px;
    color: white;
}
button.blue-team {
    border: none;
    background: #4159e4;
    width: 110px;
    height: 35px;
    color: white;
}
span.vs {
    margin: 15px;
    color: white;
}
