.container(ng-controller='subscribeCtrl')
  .row
    .col-md-12
      img#logo(src='logo_alsace_digitale.png', alt='Logo Alsace Digitale')
      h1.title.text-center Tenez-vous informés de nos prochains événements !
      form#form-subscribe(action='#')
        .form-group
          label(for='lastname') Nom
          input#lastname.form-control(ng-model='lastname' type='text' placeholder='Tapez votre nom')
        .form-group
          label(for='firstname') Prénom
          input#firstname.form-control(ng-model='firstname' type='text' placeholder='Tapez votre prénom')
        .form-group
          label(for='email') Addresse Email
          input#email.form-control(ng-model='email' type='email' placeholder='Tapez votre addresse email')
        .form-group
          input.btn.btn-lg.btn-default.col-md-12(type='submit' value='Valider')
